<!--{template common/header}-->
<style id="diy_style" type="text/css">#portal_block_777 {  background-color:transparent !important;background-image:none !important;}#frameIAf3hk {  background-color:transparent !important;background-image:none !important;}#frameJ6Z2B5 {  margin-bottom:5px !important;}#framewXEFoe {  margin-top:0px !important;margin-right:0px !important;margin-bottom:5px !important;margin-left:0px !important;}#frameB99vqC {  margin-bottom:5px !important;}#frameTl7cNh {  margin-bottom:5px !important;}</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
